html {
	scroll-behavior: smooth;
}

.st1 {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#4DD6A3;
}
.col {
	width: auto;
}

.sample-region {
	animation: appear 5s;
	-webkit-animation: appear 5s;
	background-color: green;
	/* opacity: 0; */
}

::cue {
	animation: appear 5s;
	-webkit-animation: appear 5s;
	color: white;
}

::cue(b) {
	text-transform: uppercase;
	color: yellow;
}

::cue-region(#large) {
	animation: appear 5s;
	-webkit-animation: appear 5s;
}

::cue-region(#small) {
	animation: appear 5s;
	-webkit-animation: appear 5s;
}


@-webkit-keyframes appear {
	from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
