html {
	scroll-behavior: smooth;
}

.st1 {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#4DD6A3;
}
.col {
	width: auto;
}

video::cue {
	text-align: center;
	color: white;
	animation-duration: 1s;
	animation-name: appear;
}

video::cue-region {
	color: green;
	animation-duration: 1s;
	animation-name: appear;
}

@keyframes appear {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}
