html {
	scroll-behavior: smooth;
}

.st1 {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#4DD6A3;
}
.col {
	width: auto;
}

video::cue {
	text-align: center;
	color: white;
}

video::cue-region {
	width: 75%;
	height: 15%;
	margin-bottom: 25px;
	background-image: linear-gradient(to bottom, dimgray, lightgray);		
}
