{% include 'partials/header.html' %}

{% include 'partials/navigation.html' %}
<div id="container">
	{% try %}
		{% if messages %}
			<div class="row justify-content-center">
				<div class="col-md-10" id="messages">
					{% for m in messages %}
						<div class="alert-{{m['type']}}" role="alert">
							{{ m['message'] }}
						</div>
					{% end %}
				</div>
			</div>
		{% end %}
	{% except %}
	{% end %}
	<div class="row justify-content-center">
		<div class="col-md-10" id="content">
			{% block content %}
				<!-- Main Content -->
				<h1>Video Reformatting using Mediapipe</h1>
				<p>
					This is a thin wrapper around Google's autoflip mediapipe component. See <a href="https://ai.googleblog.com/2020/02/autoflip-open-source-framework-for.html">here</a> for more details.
				</p>
			{% end %}
		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
