{% extends '../main.html' %}
{% block content %}
	<form action="{{ deploy_path }}/video/flip/ui/tasks/create" enctype="multipart/form-data" method="post">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="videofile">Task name</label>
			<div class="col-sm-10">
				<input name="taskname" required="" type="text" class="form-text" id="taskname" placeholder="Specify a task name."/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="videofile">Videofile</label>
			<div class="col-sm-10">
				<input name="videofile" required="" type="file" class="form-control-file" id="videofile" aria-describedby="videofileHelp" placeholder="Specify input file."/>
				<small id="videofileHelp" class="form-text text-muted">The file you wish to get transformed.</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="target_format">Target format</label>
			<div class="col-sm-10">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="target_format" id="target_format_1_1" value="1:1" checked />
					<label class="form-check-label" for="target_format_1_1">1:1</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="target_format" id="target_format_16_9" value="16:9" />
					<label class="form-check-label" for="target_format_16_9">16:9</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="target_format" id="target_format_9_16" value="9:16" />
					<label class="form-check-label" for="target_format_9_16">9:16</label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				<button type="submit" class="btn btn-primary">Create conversion task</button>
			</div>
		</div>
	</form>
{% end %}
