{% extends '../main.html' %}
{% block content %}
	{% import os %}
	<table id="task-list" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"	>
		<thead>
			<tr>
				<th class="th-sm">Task type</th>
				<th class="th-sm">Task name</th>
				<th class="th-sm">Source video</th>
				<th class="th-sm">Target</th>
				<th class="th-sm">Status</th>
				<th class="th-sm">Result</th>
				<th class="th-sm">Captions</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					<td>{{ task['action'] }}</td>
					<td>{{ task['task_name'] }}</td>
					<td>{{ task['input_file_name'] }} ({{ "{:.2f}".format(task['input_file_size']/(1024*1024)) }}MB)</td>
					<td>{{ task['target_quality'] }} quality, {{ task['target_size'] }} size{% if 'flip' in task['action'] %}, {{ task['target_format'] }} aspect ratio{% end %}</td>
					<td>{{ task['status'] }}
						<a href="{{ deploy_path }}/tasks/{{task['task_id']}}">
							<i class="fas fa-info-circle"></i>
						</a>
					</td>
					<td>
						{% if 'success' in task['status'] %}
							{{ "{:.2f}".format(task['output_file_size']/(1024*1024)) }}MB
							<a target="_blank" href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/play">
								<i class="fas fa-play-circle"></i>
							</a>
							<a href="{{ deploy_path }}/tasks/{{ task['task_id']}}?download">
								<i class="fas fa-cloud-download-alt"></i>
							</a>
						{% end %}
						{% if 'stopped' in task['status'] %}
							<a href="{{ deploy_path }}/tasks/{{task['task_id']}}/restart">
								<i class="fas fa-redo"></i>
							</a>
						{% end %}
						<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/delete" onclick="return confirm('This will delete the task {{ task['task_name'] }}')">
							<i class="fas fa-trash"></i>
						</a>
					</td>
					<td>
						<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/captions/create">
							<i class="fas fa-closed-captioning"></i>
						</a>
						{% if 'captions' in task %}
							<table class="table">
								<tbody>
									{% for lang in task['captions'] %}
										<tr>
											<td>
												<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/play?language={{ lang }}">Play with {{ task['captions'][lang]['captions_label'] }} captions</a>
											</td>
										</tr>
									{% end %}
								</tbody>
							</table>
						{% end %}
					</td>
				</tr>
			{% end %}
		</tbody>
	</table>
{% end %}
