{% extends '../main.html' %}
{% block content %}
	{% import os %}
	<table id="task-list" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"	>
		<thead>
			<tr>
				<th class="th-sm">Task ID</th>
				<th class="th-sm">Task name</th>
				<th class="th-sm">Source video</th>
				<th class="th-sm">Status</th>
				<th class="th-sm">Monitor</th>
				{% if 'success' in task['status'] %}
					<th class="th-sm">Download</th>
				{% end %}
				{% if 'stopped' in task['status'] %}
					<th class="th-sm">Restart</th>
				{% end %}
				<th class="th-sm">Captions</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					<td>{{ task['task_id'] }}</td>
					<td>{{ task['task_name'] }}</td>
					<td>{{ task['input_file_name'] }}</td>
					<td>{{ task['status'] }}</td>
					<td><a href="{{ deploy_path }}/tasks/{{task['task_id']}}">Show progress</a></td>
					{% if 'success' in task['status'] %}
						<td>
							<a href="{{ deploy_path }}/tasks/{{ task['task_id']}}?download">Download</a>
						</td>
					{% end %}
					{% if 'stopped' in task['status'] %}
						<td>
							<a href="{{ deploy_path }}/tasks/{{task['task_id']}}/restart">Restart task</a>
						</td>
					{% end %}
					<td>
						<a target="_blank" href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/play">Play video</a>
						<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/captions/create">Add captions</a>
						{% if 'captions' in task %}
							<table class="table">
								<tbody>
									{% for lang in task['captions'] %}
										<tr>
											<td>
												<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/play?language={{ lang }}">Play with {{ task['captions'][lang]['captions_label'] }} captions</a>
											</td>
										</tr>
									{% end %}
								</tbody>
							</table>
						{% end %}
					</td>
					<td>
						{% if 'stopped' in task['status'] or 'success' in task['status'] %}
							<a href="{{ deploy_path }}/tasks/{{ task['task_id'] }}/delete" onclick="return confirm('This will delete the task {{ task['task_name'] }}')">Delete</a>
						{% end %}
					</td>
				</tr>
			{% end %}
		</tbody>
	</table>
{% end %}
